html {
    --width-for-boxes: 170px;

    background: linear-gradient(to bottom right, #565656, #141414);
    min-height: 100%;

    font-family: 'Fredoka', sans-serif;
}

.title-text {
    text-align: center;
    color: white;
}

.user {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    unicode-bidi: plaintext;
    background: hsl(235 calc(1 * 85.6%) 64.7% / 0.3);
}

.current {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: var(--width-for-boxes);
    float: left;
    padding: 1px 5px;
    word-wrap: break-word;
    cursor: default;
}

p {
    background-color: #3a3a3a;
    border-radius: 5px;
    padding: 0.2em;
    margin: 0 2.5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    position: relative;
    background-color: #ff000000;
    border-radius: 10px;
    font-weight:600;
    padding: 0em;
    font-size: 20px;
}

.content {
    width: 85%;
    margin: auto;
    
}

desc {
    color:  gray;
    transition: 0.25s;
}

desc:hover {
    color: white;
}

.secret-mode {
    border-radius: 10px;
    padding: 5px;
    width: 1.75em;
    font-size: large;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    font-weight: bold;
    background-color: #3a3a3a;
    color: white;
    border: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.next {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: var(--width-for-boxes);
    margin: auto;
    padding: 1px 5px;
    word-wrap: break-word;
    cursor: default;
}

.future {
    float: right;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: var(--width-for-boxes);
    padding: 1px 5px;
    word-wrap: break-word;
    cursor: default;
}
